---
// src/pages/experience.astro
import ExpCard from "../components/ExpCard.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import ExperienceHeader from "../components/ExperienceHeader.astro";
const experiences = [
  {
    position: "App Developer Intern",
    company: "Valsco Technology Pvt Ltd",
    location: "Remote",
    duration: "July 2024 - Present",
    description: [
      "Developing a mobile application using Flutter to support a large user base in a university setting.",
      "Implementing performance optimizations and caching strategies to enhance app responsiveness.",
      "Integrating secure payment gateways and OAuth2 authentication to streamline user access and transactions.",
    ],
    technologies: [
      "Flutter",
      "Caching Strategies",
      "Performance Optimization",
      "Payment Gateways",
      "OAuth2",
    ],
    logo: "/images/valsco.jpeg",
    link: " https://www.valscotech.com/",
  },
  {
    position: "App Developer and Inner Core Member",
    company: "GDSC VIT Vellore",
    location: "Vellore, India",
    duration: "July 2023 - Present",
    description: [
      "Led Android Study Jams, delivering comprehensive instruction on Android development using Kotlin, with recorded sessions garnering over 300 views on YouTube.",
      "Demonstrated leadership by organizing major tech events (Hexathon'23, WomenTechies'24, DeconstruCT.F'23), each drawing 200+ participants, enhancing event management skills and community engagement.",
    ],
    technologies: [
      "Android Development",
      "Kotlin",
      "Event Organization",
      "Community Engagement",
    ],
    logo: "/images/gdsc.jpeg",
    link: "https://www.dscvit.com/team",
  },
  {
    position: "Technical Manager and Core Member",
    company: "IEEE-VIT",
    duration: "July 2023 - June 2024",
    location: "VIT Vellore",
    description: [
      "Maintainer of Hacktoberfest 2023 Repository opened by the chapter for volunteers to contribute",
      "Conducted PyCamp, offline-sessions on python libraries.",
      "Organised hackathons and workshops for the club, namely Hack-The-Hackathon'23 and SourceSprint'23",
    ],
    technologies: [
      "Project Management",
      "Event Organization",
      "Community Engagement",
    ],
    logo: "/images/ieee.png",
    link: "https://ieeevit.org",
  },
  {
    position: "Volunteer/Social Worker",
    company: "Kshitiksha Foundation",
    duration: "Jun 2024 - Jul 2024",
    location: "India",
    description: [
      "Raised funds for the NGO through effective marketing campaigns.",
      "Provided food to underprivileged individuals and fed stray animals during the summer heat.",
      "Planted saplings to contribute to environmental sustainability.",
    ],
    technologies: [
      "Volunteering",
      "Social Services",
      "Environmental Awareness",
    ],
    logo: "/images/kf.jpeg",
    link: "https://drive.google.com/drive/folders/1OV_t0N43GXWacBgdUXnKD50E19MSOzi6?usp=drive_link/",
  },
];
const summary =
  "Third year student currently pursuing B.Tech in Computer Science specialised in IoT at VIT Vellore. Passionate about building robust apps using Flutter and Kotlin. I am proficient in GoLang and Node.js for back-end development, Python, JavaScript, Firebase, SQL/NoSQL Databases. I am also good with using Github and Docker";
const technicalSkills = [
  "Python",
  "C/C++",
  "Kotlin",
  "Golang",
  "Astro",
  "Node.js",
  "JavaScript",
  "Flutter",
  "Firebase",
  "Docker",
  "SQL/NoSQL DBs",
  "Git/GitHub",
];
---

<style>
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
  }
  .experience-container {
    margin: 0 auto;
    max-width: 800px;
  }
  @media (max-width: 800px) {
    .card-grid {
      justify-content: center;
    }
  }
</style>

<BaseLayout title="dk-a-dev/experince">
  <div class="experience-container">
    <ExperienceHeader summary={summary} technicalSkills={technicalSkills} />
    <div class="card-grid">
      {
        experiences.map((exp) => (
          <ExpCard
            position={exp.position}
            company={exp.company}
            location={exp.location}
            duration={exp.duration}
            description={exp.description}
            technologies={exp.technologies}
            logo={exp.logo}
            link={exp.link}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
